{% extends 'main/layout.html' %}
{% load static %}

{% block content %}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'blog/style_index.css' %}" rel="stylesheet">

    <section class="section gray-bg" id="blog">

        <div class="container">
            {% include 'blog/categories.html' %}
        </div>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <h2>{{ category.name }}</h2>
                        <p>{{ category.name }} kategoriyasiga oid yangiliklar</p>
                    </div>
                </div>
            </div>
            <div class="row">

                {% for blog_post in blog_posts %}

                <div class="col-lg-4">
                    <div class="blog-grid">
                        <div class="blog-img">
                            <div class="date">{{ blog_post.created_at.date }}</div>
                            <a href="#">
                                <img src="{{ blog_post.image.url }}" title="" alt="" height="280px" width="350px">
                            </a>
                        </div>
                        <div class="blog-info">
                            <h5><b><a href="#">{{ blog_post.title | truncatechars:30 }}</a></b></h5>
                            <p>{{ blog_post.short_description | truncatechars:50 }}</p>
                            <div class="btn-bar">
                                <a href="{% url 'blog_detail' slug=blog_post.slug %}" class="px-btn-arrow">
                                    <span>Read More</span>
                                    <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}
